@{
    ViewData["Title"] = "Index";

}

<div class="container">
    <div class=" row ">
        <div class="col text-center">
            <h1> Cadastro Cliente </h1>
        </div>
    </div>
    @* Linha Nome e Cpf *@
    <div class="row">
        <div class="col">

            <label for="" class="col-sm-2 form-label fw-bold">
                Nome
            </label>
            <input type="text" class="form-control" id="">


        </div>

        <div class="col-lg-3">

            <label for="" class="form-label fw-bold">
                CPF
            </label>
            <input type="text" class="form-control" id="">


        </div>

        <div class="col-lg-3">

            <label for="" class="form-label fw-bold">
                RG
            </label>
            <input type="text" class="form-control" id="">


        </div>

        <div class="col-lg-2">

            <label for="" class="form-label fw-bold text-nowrap">
                Data Nascimento
            </label>
            <input type="text" class="form-control" id="">


        </div>
    </div>
</div>
</div>